<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/x-icon" href="../../assets/img/favicon.ico">
<title>노말페이지</title>

<!--v Packages -->
<script src="../../../js/jquery.min.js"></script>

<link href="../../../css/jquery-ui.min.css" rel="stylesheet" />
<script src="../../../js/jquery-ui.min.js"></script>

<link href="../../../css/select2.min.css" rel="stylesheet" />
<script src="../../../js/select2.min.js"></script>
<!--^ Packages -->

<link href="../../../css/all.css" rel="stylesheet" />
<script src="../../../js/pubUtil.js"></script>
</head>

<body class="normal-page">
	<header>
		<div class="inner">
			<h1 class="logo">
				<a href="#">
					<img src="../../../img/logo.svg" />
				</a>
			</h1>
		</div>
	</header>

	<div class="container">
		<div style="padding: 100px; color: #000; font-size:15px; line-height: 20px; background-color:#fada8f;">
			푸터가 없는 일반 레이아웃 입니다. <br>
			보통 약관 및 회원가입 페이지에서 사용합니다.
		</div>
	</div><!-- .container -->

</body>
</html>
